<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>QUIZ</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="styles.css" rel="stylesheet" />
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <div id="app">
        <div v-for="(each,index) in quiz">
            <transition name="flip" mode="out-in">
                <div v-if="(index === questionNumber && !showResults)">
                    <div class="question">
                        <p class="text-center">
                        {{ index+1 + ' . '+ each.question }}
                        </p>
                    </div>
                    <div class="btn-group options">
                        <div class="col-6 col-sm-6 text-center option"     
                          @click="userAnswer(each.options[0], index,each.id,each.question)">
                            {{ each.options[0] }}
                        </div>
                        <div class="col-6  col-sm-6 text-center option"
                        @click="userAnswer(each.options[1], index,each.id,each.question)">
                            {{ each.options[1] }}
                        </div>
                    </div>
                    <div class="btn-group options">
                        <div class="col-6 col-sm-6 text-center option" 
                        @click="userAnswer(each.options[2], index,each.id,each.question)">
                            {{ each.options[2] }}
                        </div>
                        <div class=" col-6 col-sm-6 text-center option"
                        @click="userAnswer(each.options[3], index,each.id,each.question)">
                            {{ each.options[3] }}
                        </div>
                    </div>
                </div>
            </transition>
          </div>
        <div v-if="showResults">
            <p class="text-center text-success">
                Completed. Results
            </p>
            <div v-for="(result, index) in userAnswers">
                <div class="question">
                    <p class="text-center">
                      {{ index+1 + ' . '+ result.question }}
                    </p>
                </div>
                    
            
            </div>
            <hr>
            <div class="row text-center option" v-if="retry" @click="reTake">
                Retry
            </div>
            <div class="row text-center option" v-else @click="completed">
                Completed
            </div>
           </div>
 </div>
<script type="text/javascript" src="app.js"></script>
</body>
</html>