.custom {
    width: 150px !important;
    margin: 10px
}

.flip-leave-active {
    animation: flip-out 0.5s ease-out forwards;
}
.question {
    font-family: 'Tangerine', serif;
    font-size: 48px;
    text-shadow: 4px 4px 4px #aaa;
}
.option {
    font-family: 'Inconsolata', serif;
    font-size: 40px;
  
}
.result {
    font-family: 'Tangerine', serif;
    font-size: 25px;
}
.jumbotron {
    background-color: #BDB76B;
}
body {
    background-color: #BDB76B;
}
.btn-primary {
    background-color: #BDB76B 
}

@keyframes flip-out {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(180deg);
    }
}

@keyframes flip-in {
    from {
        transform: rotateY(180deg);
    }
    to {
        transform: rotateY(0deg);
    }
}
