.custom {
    width: 150px !important;
    height: 50px !important;
    margin: 5px;
    background-color: #b2e9ed;
    color:#333!important;
    
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #b2e9ed !important;
}
.jumbotron {
    padding-top: 100px;
    padding-bottom: 25px;
}
.question-section {
    padding-top: 50px;
}

.flip-leave-active {
    animation: flip-out 0.5s ease-out forwards;
}
.bg-color {
    background-color: #b2e9ed;
}
body {
    font-family: "Trebuchet MS","Helvetica Neue",Helvetica,Tahoma,sans-serif;
}

@keyframes flip-out {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(180deg);
    }
}

@keyframes flip-in {
    from {
        transform: rotateY(180deg);
    }
    to {
        transform: rotateY(0deg);
    }
}
